bootstrap/cache/services.php

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*

**/*vendor

**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache

*.config.js
?ulpfile.js
?untfile.js
package.json
phpunit.xml
README.md
phpspec.yml

Dockerfile-cli
Dockerfile-supervisord
Dockerfile-apache
docker-compose.yml
run
run.ps1
